<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kale.toolbox" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name="com.github.mmin18.layoutcast.ResetActivity" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".debug.log.LoggerActivity"
            android:label="Log" />
        <activity
            android:name=".ui.view.EasyToastActivity"
            android:label="Toast" />
        <activity
            android:name=".reflect.ReflectActivity"
            android:label="ReflectActivity">
        </activity>
        
    </application>

</manifest>
